.page01 {height: 100%;background: url(../images/page01.png) no-repeat center center;position: relative;overflow:hidden;}
.page01 .content {margin-top: 118px;margin-left: 40px;}
.page01 .content .catetitle {width: 670px;height: 173px;margin-left: 110px;}
.page01 .bookwrap {position: relative;overflow: hidden;top: -65px;}
.page01 .booklist {width: 1736px;height: 865px;float: left;padding: 55px 60px 0 80px;background: url(../images/layer.png) no-repeat center center;}
.page01 .booklist ul {height: 96%;overflow-y: scroll;}
.page01 .booklist ul::-webkit-scrollbar {width: 15px;}
.page01 .booklist ul::-webkit-scrollbar-thumb {background: url(../images/scrollbar.png) no-repeat center center;}
.page01 .booklist ul li {float: left;width: 517px;height: 342px;background: url(../images/list_bg.png) no-repeat center center;margin-right: 6px;}
.page01 .booklist ul li:nth-child(3n) {margin-right: 0;}
.page01 .booklist ul li a {display: block;width: 100%;height: 100%;}
.page01 .booklist ul li a .pic {position: relative;float:left;width: 210px;height: 210px;background: url(../images/pic_bg.png) no-repeat center center;margin: 40px 15px 0 10px;}
.page01 .booklist ul li a .pic img {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;width: 86%;height: 86%;;}
.page01 .booklist ul li a .details {float: left;width: 260px;margin-top: 55px;}
.page01 .booklist ul li a .details h1 {font-size: 22px;color: #adb6e3;margin-bottom: 8px;line-height: 1;font-family: '微软雅黑';}
.page01 .booklist ul li a .details p.author {font-size: 16px;color: #4da9d0;margin-bottom: 18px;line-height: 1;}
.page01 .booklist ul li a .details p {font-size: 16px;color: #555555;margin-bottom: 15px;line-height: 1;}
.page01 .bookcate {float: left;}
.page01 .bookcate {width: 138px;float: left;height: 840px;position: relative;left: -90px;z-index: 2;padding-top: 30px;overflow: hidden;}
.page01 .bookcate ul {height: 100%;overflow-y: auto;}
.page01 .bookcate ul::-webkit-scrollbar {display: none;}
.page01 .bookcate ul li {position:relative;height: 179px;width: 138px;}
.page01 .bookcate ul li.active {left: -15px;}

.layui-flow-more a cite {
    color: #fff !important;
    background-color: #adb6e3;
    margin-top: 5px;
}