.page06 {width: 100%;height: 100%;position: relative;overflow-y: hidden;}
/* .page06 .topmenu {margin-top: 308px;height: 139px;padding-left: 50px;width: 100%;}
.page06 .topmenu ul {display: block;width: 100%;height: 100%;overflow-x: auto;white-space: nowrap;overflow-y: hidden;}
.page06 .topmenu ul::-webkit-scrollbar {display: none;}
.page06 .topmenu ul li {display: inline-block;width: 176px;height: 139px;cursor: pointer;}
.page06 .bookList {display: block;padding: 0 24px 0 60px;position: relative;overflow: hidden;height: 1438px;}
.page06 .bookList ul {display: block;width: 100%;position: relative;overflow-y: auto;height: 100%;}
.page06 .bookList ul::-webkit-scrollbar {width: 15px;}
.page06 .bookList ul::-webkit-scrollbar-thumb {background: url(../images/scrollbar1.png) no-repeat center center;}
.page06 .bookList ul li {width: 460px;height: 654px;background: url(../images/list_bg.png) no-repeat center center;float: left;position: relative;}
.page06 .bookList ul li:nth-child(2n-1) {margin-right: 40px;}
.page06 .bookList ul li a {position: absolute;left: 10px;right: 10px;top: 46px;bottom: 7px;}
.page06 .bookList ul li a .pic {width: 260px;height: 260px;margin: 50px auto 30px;overflow: hidden;background: #fff;}
.page06 .bookList ul li a .pic img {display: block;width: 100%;height: 100%;}
.page06 .bookList ul li a h1 {font-size: 24px;color: #6e93eb;text-align: center;padding: 0 10px;}
.page06 .bookList ul li a > p {font-size: 18px;color: #555;text-align: center;margin: 15px 0 20px;color: #4da9d0;padding: 0 10px;}
.page06 .bookList ul li a .others {width: 45%;text-align: left;margin: 0 auto;}
.page06 .bookList ul li a .others p {font-size: 18px;color: #555;color: #4da9d0;margin-bottom: 10px;line-height: 18px;} */

.page06.default {
    padding: 38px 31px 37px 32px;
}
.page06.default {background: url(../images/page06_default.png) no-repeat center center;}
.page06.success {background: url(../images/page06_success.png) no-repeat center center;}
.page06.default .search_list {
    display: none;
}
.page06.default .search_res {
    visibility: hidden;
}
.page06 .page06_layer {
    width: 100%;
    height: 100%;
    margin: auto;
}
.page06 .top_til {
    width: 1274px;
    height: 373px;
    margin: 0 287px 0 306px;
    position: relative;
    top: 206px;
}
.page06.default .top_til {
    height: 373px;
}
.page06.success .top_til {
    height: 255px;
    top: 0;
    animation: moveUP .8s ease-in-out;
}
@keyframes moveUP {
    0% {
        transform: translateY(206px)
    }
    100% {
        transform: translateY(0px)
    }
}
.page06.success .search_box .search_w {
    margin-top: 65px;
}
.page06 p.search_res {
    width: 1000px;
    margin: 0 auto;
    font-weight:bold;
    text-align:right;
    font-size:22px;
    color:rgba(68,178,213,1);
    line-height:55px;
}
.page06 .search_list {
    width: 1920px;
    height: 780px;
    padding-right: 50px;
    animation: moveToTop .8s ease-in-out;
}

@keyframes moveToTop {
    0% {
        transform: translateY(100%)
    }
    100% {
        transform: translateY(0px)
    }
}
.page06 .search_list ul {
    margin-left: 117px;
    height: 100%;
    overflow-y: scroll;
}
.page06 .search_list ul::-webkit-scrollbar {
    width:22px;
    border-radius:4px;
}
.page06 .search_list ul::-webkit-scrollbar-thumb {
    border-radius:4px;
    background: url(../images/scrollbar.png) no-repeat bottom center;
}
.page06 .search_list ul li {
    position: relative;
    width: 541px;
    height: 372px;
    float: left;
    margin-right: 37px;
	background: url(../images/list_bg_search.png) no-repeat center center;
}
.page06 .search_list ul li:nth-child(3n) {
    margin-right: 0;
}
.page06 .search_list ul li a {
    position: absolute;
    top: 14px;
    right: 11px;
    bottom: 28px;
    left: 10px;
  
}
.page06 .search_list ul li a .book_title {
    margin: 9px 0 40px;
    font-weight:400;
    text-align: center;
    color:rgba(255,255,255,1);
    line-height:30px;
    text-shadow:0px 0px 5px rgba(136,184,240,0.58);
    font-size: 28px;
}
.page06 .search_list ul li a .book_display {
    position: relative;
    overflow: hidden;
}
.page06 .search_list ul li a .book_display .pic {
    width:263px;
    height:263px;
    background:url(../images/pic_bg_search.png) no-repeat center center;
    float: left;
    position: relative;
    z-index: 2;
	
}
.page06 .search_list ul li a .book_display .pic img {
    position: absolute;
    width: 201px;
    height: 201px;
    left: 24px;
    right: 0;
    top: 31px;
    bottom: 0;
   
}
.page06 .search_list ul li a .book_display .info {
    position: absolute;
    margin-top: 35px;
    width: 298px;
    left: 226px;
    float: left;
}
.page06 .search_list ul li a .book_display .info p {
    position: relative;
    width:100%;
    height:30px;
    margin-bottom: 10px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    padding: 0 10px 0 30px;
    text-shadow:0px 0px 5px rgba(136,184,240,0.58);
    color: #fff;
    background:linear-gradient(90deg,rgba(144,181,235,1) 0%,rgba(144,181,235,0.4) 100%);
}

.keyboard {width: 790px;height: 480px;background: url(../images/keyboard_bg.png) no-repeat center center;z-index: 100;position: absolute;top: 100%;
    padding: 20px 20px 15px 35px;display: none;right: -20px;}
.keyboard .keyboard_inner .c1 {display: block;width: 100%;position: relative;}
.keyboard .keyboard_inner .c1 .keboard_s {display: inline-block;width: 50px;height: 78px;background-repeat: no-repeat;margin-right: 3px;margin-bottom: 7px;color: transparent;}
.key_1 {background-image: url(../images/key_1.png);}
.key_2 {background-image: url(../images/key_2.png);}
.key_3 {background-image: url(../images/key_3.png);}
.key_4 {background-image: url(../images/key_4.png);}
.key_5 {background-image: url(../images/key_5.png);}
.key_6 {background-image: url(../images/key_6.png);}
.key_7 {background-image: url(../images/key_7.png);}
.key_8 {background-image: url(../images/key_8.png);}
.key_9 {background-image: url(../images/key_9.png);}
.key_0 {background-image: url(../images/key_0.png);}
.key_delete {background-image: url(../images/key_delete.png);width: 112px!important;height: 77px!important;margin-right: 0!important;}
.key_q {background-image: url(../images/key_q.png);}
.key_w {background-image: url(../images/key_w.png);}
.key_e {background-image: url(../images/key_e.png);}
.key_r {background-image: url(../images/key_r.png);}
.key_t {background-image: url(../images/key_t.png);}
.key_y {background-image: url(../images/key_y.png);}
.key_u {background-image: url(../images/key_u.png);}
.key_i {background-image: url(../images/key_i.png);}
.key_o {background-image: url(../images/key_o.png);}
.key_p {background-image: url(../images/key_p.png);}
.key_increace {background-image: url(../images/key_increace.png);}
.key_decreace {background-image: url(../images/key_decreace.png);margin-right: 0!important;;}
.key_a {background-image: url(../images/key_a.png);}
.key_s {background-image: url(../images/key_s.png);}
.key_d {background-image: url(../images/key_d.png);}
.key_f {background-image: url(../images/key_f.png);}
.key_g {background-image: url(../images/key_g.png);}
.key_h {background-image: url(../images/key_h.png);}
.key_j {background-image: url(../images/key_j.png);}
.key_k {background-image: url(../images/key_k.png);}
.key_l {background-image: url(../images/key_l.png);}
.key_xiahua {background-image: url(../images/key_xiahua.png);}
.key_enter {background-image: url(../images/key_enter.png);position: absolute;width: 112px!important;height: 164px!important;margin-right: 0!important;
    margin-left: 3px;}
.key_z {background-image: url(../images/key_z.png);}
.key_x {background-image: url(../images/key_x.png);}
.key_c {background-image: url(../images/key_c.png);}
.key_v {background-image: url(../images/key_v.png);}
.key_b {background-image: url(../images/key_b.png);}
.key_n {background-image: url(../images/key_n.png);}
.key_m {background-image: url(../images/key_m.png);}
.key_douhao {background-image: url(../images/key_douhao.png);}
.key_dot {background-image: url(../images/key_dot.png);}
.key_wenhao {background-image: url(../images/key_wenhao.png);}
.key_kongge {background-image: url(../images/key_kongge.png);width: 712px;height: 77px;font-size: 0;}



.page06 .search_box .search_w {position: relative;width: 1000px;margin: 163px auto 0;height: 80px;background: rgba(255,255,255,.7);}
.page06 .search_box .search_w .search_all {width: 193px;float: left;position: relative;height: 100%;}
.page06 .search_box .search_w .search_all:after {position: absolute;left: 100%;background-color: #7bc3da;top:25px;bottom: 25px;height: 30px;width: 3px;content: "";}
.page06 .search_box .search_w .search_all .t,
.page06 .search_box .search_w .search_category .t {width: 100%;height: 100%;line-height: 80px;padding: 0 22px 0 10px;background: url(../images/arrow_down.png) no-repeat 96% center;color: #7bc3da;font-size: 24px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.page06 .search_box .search_w .search_all .b,
.page06 .search_box .search_w .search_category .b {z-index: 10;width: 100%;position: absolute;left: 0;right: 0;top: 100%;height: 200px;background: #ddf6ff;box-shadow: 3px 3px 6px rgba(221,246,255,.11);display: none;}
.page06 .search_box .search_w .search_all .b .inner,
.page06 .search_box .search_w .search_category .b .inner {padding: 0 12px;height: 100%;}
.page06 .search_box .search_w .search_all .b .inner .scroll,
.page06 .search_box .search_w .search_category .b .inner .scroll {width: 100%;height: 100%;overflow-y: auto;}
.page06 .search_box .search_w .search_all .b .inner .scroll div,
.page06 .search_box .search_w .search_category .b .inner .scroll div {height: 40px;line-height: 40px;font-size: 20px;color: #87c9df;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.page06 .search_box .search_w .search_category {width: 196px;float: left;position: relative;height: 100%;}
.page06 .search_box .search_w .search_category:after {position: absolute;left: 100%;background-color: #7bc3da;top:25px;bottom: 25px;height: 30px;width: 2px;content: "";}
.page06 .search_box .search_w .search_cell {width: 609px;float: left;height: 100%;position: relative;}
.page06 .search_box .search_w .search_cell input {font-size: 20px;padding: 0 20px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: transparent;width: 100%;color: #6e93eb}
.page06 .search_box .search_w .search_cell input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#7bc3da;font-size: 20px;}
.page06 .search_box .search_w .search_cell input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#7bc3da;font-size: 20px;}
.page06 .search_box .search_w .search_cell input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#7bc3da;font-size: 20px;}
.page06 .search_box .search_w .search_cell input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#7bc3da;font-size: 20px;}
.page06 .search_box .search_btn {width:415px;height:48px;
    display: block;margin: 10px auto 0;
    background: rgba(255,124,157,0.8) url(../images/search_btn.png) no-repeat center center;font-size: 26px;color: #fff;}

.page06 .search_box .search_w .b .inner .scroll::-webkit-scrollbar {width:22px;border-radius:4px;}
.page06 .search_box .search_w .b .inner .scroll::-webkit-scrollbar-thumb {border-radius:4px;background: url(../images/cate_scroll.png) no-repeat bottom center;}

.layui-flow-more a cite {
    position: relative;
    top: -15px;
}