.page02 {width: 100%;height: 100%;background: url(../images/page02.png) no-repeat center center;position: relative;overflow: hidden;}
.page02 .content {position: relative;overflow: hidden;width: 1750px;height: 950px;margin: 120px auto 0;}
.page02 .content .BookBasic {float: left;}
.page02 .content .BookBasic .pic {margin-bottom: 100px;width: 498px;height: 380px;background: url(../images/shu.png) no-repeat center center;position: relative;}
.page02 .content .BookBasic .pic img {position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 350px;height: 350px;margin: auto;}
.page02 .content .BookBasic .info {width: 380px;margin: 0 auto;}
.page02 .content .BookBasic .info h1 {font-size: 50px;color: #4480b6;font-weight: bold;margin-bottom: 22px;line-height: 50px;}
.page02 .content .BookBasic .info p.author {font-size: 26px;margin-bottom: 50px;line-height: 26px;color: #4480b6;}
.page02 .content .BookBasic .info p {color: #4480b6;font-size: 26px;margin-bottom: 10px;line-height: 26px;}
.page02 .content .BookBasic .info .other {width: 80%;margin: 0 auto;}
.page02 .content .BookDetails {float: left;width: 1011px;}
.page02 .content .BookDetails section .title {width: 1011px;height: 60px;background: url(../images/bar.png) no-repeat center center;line-height: 60px;padding-left: 200px;color: #fff;font-size: 26px;}
.page02 .content .BookDetails section .cont {padding: 25px 0 30px 0;width: 730px;margin: 0 auto;}
.page02 .content .BookDetails section .cont p {color: #494c51;font-size: 18px;line-height: 30px;}
.page02 .content .BookDetails section.sec_cate .inner {position: relative;overflow: hidden;height: 180px;}
.page02 .content .BookDetails section.sec_cate .inner .box_one {float: left;width: 50%;}
.page02 .content .BookDetails section.sec_cate .inner .two_one {float: left;width: 50%;}
.page02 .content .BookDetails section.sec_cate .btn_more {display:block;width: 186px;height: 35px;background: url(../images/btn_more.png) no-repeat center center;text-align: center;line-height: 35px;color: #fff;font-size: 16px;margin: 40px auto 0;}

.goBackPage {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -43px;
    width: 86px;
    height: 86px;
    cursor: pointer;
}
.goBackPage .circle {
    width: 86px;
    height: 86px;
    animation: circleScale 1.2s linear infinite both;
    position: absolute;
}
@keyframes circleScale {
    0% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}
.goBackPage .arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 86px;
    animation: arrowToLeft 2s ease-in-out infinite;
}
@keyframes arrowToLeft {
    0% {
        left: 0;
    }
    50% {
        left: -12px;
    }
    100% {
        left: 0;
    }
}