<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>图书排行</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="data/bookRanking.js"></script>
        <link rel="stylesheet" href="layui/css/layui.css">
        <link rel="stylesheet" href="css/basic.css">
        <link rel="stylesheet" href="css/page04.css">
        <script src="js/vue.min.js"></script>
        <script src="js/jquery-1.9.1.js"></script>
        <script src="js/xs.js"></script>
        <script src="js/base.js"></script>
        <script type="text/javascript" src="layui/layui.all.js"></script>
    </head>
   
    <body>
        <div class="page04" id="app">
            <div id="menu"><a href="弹窗.html"></a></div>
            <div class="content">
                <div class="catetitle"><img :src="catePic"/></div>
                <div class="bookwrap">
                    <div class="booklist">
                        <ul>
                            <li v-for="n in 9">
                                <a href="javascript:;">
                                    <div class="pic"><img src="images/pic.png"/></div>
                                    <div class="details">
                                        <h1>夏洛的网彩绘注音完整版</h1>
                                        <p class="author">E·B·怀特 著</p>
                                        <p class="press">出版社：上海译文出版社</p>
                                        <p class="date">出版日期：2018-08-01</p>
                                        <p class="num">索书号：48290482</p>
                                        <p class="price">单   价：58.00元</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="bookcate">
                        <ul>
                            <li  v-for="(n,index) in bookRanking" @click="toggleCate(n,index)" :class="{active:index==current}">
                                <a href="javascript:;">
                                    <img :src="n.default"/>
                                </a>
						    </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script>
            new Vue({
                el:'#app',
                data: {
                    catePic:"images/A_rank_selected.png",
                    bookRanking:[],
                    current:0
                },
                mounted() {
				    this.init();
                },
                methods:{
                    init() {
                        this.bookRanking = bookRanking;
                    },
                    toggleCate(n,index) {
                        this.current = index;
                        this.catePic = n.selected;
                    }
                }  
            })

            layui.use('flow', function(){
			var flow = layui.flow;
			flow.load({
				elem: '.booklist ul', //流加载容器
				isAuto: false,
				isLazyimg: true,
				done: function(page, next){ //加载下一页
					//模拟插入
					setTimeout(function(){
						var lis = [];
						for(var i = 0; i < 6; i++){
							lis.push('<li></li>')
						}
						next(lis.join(''), page < 6); //假设总页数为 6
					}, 500);
				}
  			});
		});
        </script>
    </body>
</html>